---
import dayjs from "dayjs";
import { languageTag } from "@paraglide/runtime";
import LinkExternal from "$lib/components/common/LinkExternal.astro";

interface Props {
    startDate: Date;
    endDate: Date | null;
    current: boolean;
    position: string;
    company: string;
    url: string;
    description: string;
}

let {
    position,
    description,
    startDate,
    endDate,
    current,
    url,
    company,
}: Props = Astro.props;
---

<div class="grid gap-1 relative">
    <div
        class={`aspect-square w-3 rounded-full absolute left-0 translate-x-[-29.5px] z-10 top-1 ${current ? "bg-gray-600 dark:bg-gray-300" : "bg-gray-300 dark:bg-gray-600"}`}
    >
    </div>
    <div class="text-gray-500 text-md">
        {
            languageTag() === "zh"
                ? `${dayjs(startDate).format("YYYY年MM月")} - ${endDate ? dayjs(endDate).format("YYYY年MM月") : "至今"}`
                : `${dayjs(startDate).format("MMM YYYY")} - ${endDate ? dayjs(endDate).format("MMM YYYY") : "Present"}`
        }
    </div>
    <div class="text-foreground text-xl">{position}</div>
    <div class="text-muted-foreground text-md mb-1">
        <LinkExternal title={company} url={url} />
    </div>
    <div class="text-secondary-foreground text-md">
        {description}
    </div>
</div>
