services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: portfolio-client
    init: true
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: true
    depends_on:
      - api
      - redis
    ports:
      - "4321:4321"
    networks:
      - portfolio_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:4321",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
  api:
    container_name: portfolio-api
    build:
      context: ./api
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - portfolio_net
    env_file:
      - path: ./.env
        required: true
    environment:
      - PRODUCTION=false
      - API_VERSION=0.0.1
      - API_SERVER_URL=0.0.0.0:3002
      - RUST_LOG=api=debug,tower_http=info
      - EMAIL=ruizdiaz.oe@gmail.com
      - SMTP_USERNAME=ruizdiaz.oe@gmail.com
      - RUST_LOG=api=info,tower_http=info
    ports:
      - "3002:3002"
    depends_on:
      - redis
    command: ["cargo", "run", "--release"]
  redis:
    image: redis:alpine
    container_name: portfolio-redis
    restart: always
    env_file:
      - path: ./.env
        required: true
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command:
      [
        "redis-server",
        "--requirepass",
        "${REDIS_PASSWORD}",
        "--appendonly",
        "yes",
      ]
    security_opt:
      - no-new-privileges
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 256M
    networks:
      - portfolio_net
    volumes:
      - redis_data:/data
  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: portfolio-beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PORT: 45876
      KEY: ""
volumes:
  redis_data:
networks:
  portfolio_net:
