[Unit]
Description=Portfolio WASM
After=network.target
Requires=docker.service

[Service]
User=root
Group=root
Restart=always
WorkingDirectory=/opt/portfolio-rs
ExecStart=/opt/portfolio-rs/target/release/portfolio

[Install]
WantedBy=multi-user.target
