@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 83.1%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        transition:
            background-color 0.3s ease,
            color 0.3s ease;
    }

    body {
        @apply bg-background text-foreground;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-gray-800 dark:text-gray-200;
    }

    a {
        @apply transition hover:opacity-75;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

@media (prefer-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

pre {
    font-size: 16px;
    font-family: var(--font-mono);
    border-radius: 3px;
    text-align: center;
    padding: 0.5em;
    overflow-x: auto;
    color: grey;
}

.blog {
    max-width: 80ch;
    word-spacing: 0.16em;
}

.blog-content-title {
    @apply text-xl font-semibold text-secondary-foreground;
}

.blog-content-text {
    @apply text-secondary-foreground text-md;
}
