---
import { Icon } from "astro-icon/components";
import Lang from "./lang.svelte";
import Toggle from "$lib/components/darkmode/toggle.svelte";
import Social from "$lib/components/common/Social.astro";
import { Separator } from "$lib/components/ui/separator";
import WordAnimation from "$lib/components/landing/wordAnimation.svelte";

let showSeparator = false;

function handleSeparatorChange(event: CustomEvent<{ show: boolean }>) {
    showSeparator = event.detail.show;
}
---

<nav
    id="navbar"
    class="sticky top-0 w-full overflow-hidden backdrop-blur-lg z-50 antialiased transition-all duration-300 py-2"
    on:separator-change={handleSeparatorChange}
>
    <div class="w-full">
        <div
            class="flex items-center justify-between max-w-screen-md mx-auto px-6 sm:px-6 lg:px-8"
        >
            <a href="/" rel="external" class="flex flex-col items-start">
                <p class="text-lg md:text-xl font-semibold text-foreground">
                    Ever Ruiz Diaz
                </p>
                <p class="text-secondary-foreground text-md h-[32px]">
                    <WordAnimation client:load />
                </p>
            </a>
            <div class="flex items-center">
                <Toggle client:idle />
                <Lang client:idle />
                <div class="hidden md:flex items-center">
                    <Separator orientation="vertical" class="mx-2 h-6" />
                    <Social />
                </div>
            </div>
        </div>
    </div>
    {showSeparator && <Separator />}
</nav>

<script>
    function initializeNavbar() {
        const navbar = document.getElementById("navbar");
        if (navbar) {
            const handleScroll = () => {
                const show = window.scrollY > 0;
                navbar.querySelector("div")?.classList.toggle("border-b", show);

                navbar.dispatchEvent(
                    new CustomEvent("separator-change", {
                        detail: { show },
                    }),
                );
            };

            window.addEventListener("scroll", handleScroll);
            handleScroll(); // Initialize state on page load
        }
    }

    // Run on initial load
    initializeNavbar();
    // Run when navigating between pages
    document.addEventListener("astro:page-load", initializeNavbar);
</script>
