---
import { Icon } from "astro-icon/components";

interface Props {
    url: string;
    title: string;
}

let { title, url = "_self" }: Props = Astro.props;
---

<a
    href={url}
    rel="noopener"
    target="_self"
    class="flex group items-center gap-1 text-lg md:text-xl font-semibold md:font-normal
    text-foreground duration-200 cursor-pointer hover:text-[#68b5fc]
    hover:underline hover:decoration-dashed hover:underline-offset-8 hover:decoration-[#68b5fc]"
>
    {title}
    <Icon
        name="arrow-right"
        title="Link"
        size="1rem"
        class="duration-200 group-hover:translate-x-[1.5px]"
    />
</a>
