---
import { Button } from "$lib/components/ui/button/index.js";
import { Icon } from "astro-icon/components";
---

<Button
    href="https://www.linkedin.com/in/everdev/"
    variant="ghost"
    rel="noopener"
    target="_blank"
    size="icon"
    aria-label="LinkedIn"
    title="LinkedIn"
>
    <Icon name="linkedin" title="LinkedIn" class="h-[1.2rem] w-[1.2rem]" />
</Button>
<Button
    href="https://www.linkedin.com/in/everdev/"
    variant="ghost"
    rel="noopener"
    target="_blank"
    size="icon"
    aria-label="GitHub"
    title="GitHub"
>
    <Icon name="github" title="GitHub" class="h-[1.2rem] w-[1.2rem]" />
</Button>
<Button
    href="https://x.com/EverToujours"
    variant="ghost"
    rel="noopener"
    target="_blank"
    size="icon"
    aria-label="GitHub"
    title="GitHub"
>
    <Icon name="x" title="X (Twitter)" class="h-[1.1rem] w-[1.1rem]" />
</Button>
