---
import Layout from "$lib/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Ever Ruiz Diaz">
    <div class="flex flex-col items-center justify-center h-screen">
        <Icon width="20em" height="20em" name="flux" />
        <h1 class="text-xl font-semibold">Work in progress..</h1>
        <a
            href="/"
            class="flex items-center justify-center mt-6 text-md font-semibold gap-2"
        >
            <Icon width="1.1em" height="1.1em" name="arrow-left" />
            Go back home
        </a>
    </div>
</Layout>
