---
import Layout from "$lib/layouts/Layout.astro";

Astro.response.status = 500;
const defaultTitle: string = "Server Error";
---

<Layout
    description="500 Error Page - Server error occurred"
    title={defaultTitle}
    showFooter={false}
    showHeader={false}
>
    <section class="grid place-content-center h-screen space-y-4">
        <h1 class="mt-4 text-4xl font-semibold text-center">
            Oops! Something Went Wrong
        </h1>
        <h3 class="text-xl font-medium text-center text-balance">
            We're experiencing some technical issues on our end. Please try
            again later.
        </h3>
        <span>If the problem persists, please contact our support team.</span>
        <a href="/" class="mt-6 font-semibold">
            Go back home
            <span aria-hidden="true"> &rarr;</span>
        </a>
    </section>
</Layout>
