---
import * as m from "@paraglide/messages.js";
---

<p class="hero text-secondary-foreground text-lg text-left mt-8">
    {m.meTitle()}
    <br />
    {m.meDescription()}
</p>

<style>
    .hero {
        max-width: 60ch;
    }
</style>
